#menuBG {
    width: 400px;
    height: 470px;
    margin: 10px auto;
    background-color: maroon;
}

#frmMenu {
    width: 400px;
    height: 200px;
}

#totalPrice {
    width:200px;
    height:190px;
    margin:0 auto;
    float: right;
}

.column
{
    float: left;
    width: 33%;
}

#showText {
    width: 200px;
    height: 190px;
    margin: 0px auto;
    float: left;
}

#cart {
    top:0; margin:0px auto;
    width: 400px;
    height: 200px;
    text-align: center;
}

#btnOrder {
    margin: 10px 0px 0px 100px;
    width: 100px;
    height: 40px;

}
h1 {
    font-family: 'Times New Roman', Times, serif;
    color: white; 
    text-align: center;
}
h3 {
    font-family: 'Courier New', Courier, monospace;
    color: white;
}
div {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: Lightyellow;
}
